
body{
    background-image: -webkit-linear-gradient(0deg,#4dabff 0%,#62ddff 100%);

}
.h11{
   font-size: 200px;
   text-align: center;
color: black ;
}
.btn1{
    display: inline-block;     background: rgba(255,255,255,.1);     color: #fff;     font-family: "Roboto",sans-serif;     width: 120px;     font-size: 0.9rem;     font-weight: 500;     border: 1px solid rgba(255,255,255,.5);     line-height: 48px;     border-radius: 3px;     text-align: center;     align-items: center;     cursor: pointer;     transition: all 300ms linear 0s;     margin-left: 350px;     margin-top: 60px;     margin-left: 5rem;
    margin-left: 600px;
    text-decoration: none;
}
